torch>=2.1
numpy
datasets
accelerate
openvino-nightly
gradio>=4.19
onnx
einops
transformers_stream_generator
tiktoken
transformers>=4.38.1
bitsandbytes
git+https://github.com/eaidova/optimum-intel.git@support_phi3_export
git+https://github.com/openvinotoolkit/nncf.git
